body, html{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)),
    url(./photo/artsy-vibes-0FCHGRqHAjk-unsplash.jpg) no-repeat center;
    background-size: cover;
  }

  h1 {
    font-size: 100px;
    margin-top:0%;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white
  }
  
  /*
  ===============================
        INTRO MESSAGE
  ==============================
  */
  
  .intro-message{
    font-size: 1rem;
    margin-top: 20px;
    color:white;
    text-align: center;
    padding: 0 5%;
    letter-spacing: 1px;
  }
  
  
  /*
  ==============================
          LI ELEMENTS
  ==============================
  */
  
  
  li{
    font-size: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 10px 10px 10px black;
    width: 20%;
    height: 50%;
    text-align: center;
    list-style: none;
    background: transparent;
    color: white;
    float: left;
    margin: 1% 0 0 1%;
    padding-bottom: 10px;
  }
  
  
  
  
  
  /*
  ==============================
        Add guest section
  =============================
  */

  
  .invite-guest-input {
    display: flex;
    justify-content: center;
    align-content: center;
    margin:auto;
    text-align: center;
    border-radius: 5px;
    border-color: white;
    width: 25%;
    height: 30px;
    font-size: 20px;
  }
  
  /*
  =======================================
        checkboxes
  ===================================
  */
  .filter-guests-checkbox{
    margin-left: 15px
  }
  
  .filter-checkbox-container{
    margin-top: 100px;
    margin:2% auto auto 15%;
    font-size: 1.2rem;
    color: white;

  }
  
  
  /*-------------------------------------------------------------------------*/
  /*
  =========================================
          Buttons 
  =========================================
  */
  
  .add-guest-button{
     letter-spacing: 1px;
     background-color: transparent;
     margin: 1% auto auto auto;
     display: block;
     cursor:pointer;
     color: white;
     font-size: 1rem;
     padding:9px 25px;
     border-width: 1px;
     border-radius: 10px; 
     border-style: solid;
   }
  
  
  .edit-button,
  .remove-button{
    letter-spacing: 1px;
    background-color: transparent;
    cursor:pointer;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding:5px;
  }
  
  .remove-button{
    margin-left: 5%;
  }
  
  .edit-button{
    padding-left: 8%;
    padding-right: 8%;
  }
  
  
  /*
  ===========================
           MEDIAS
  ===========================
  */

  /*
  ====================================
          TABLETs and small PC
  ====================================
  */

  @media(min-width:768px) and (max-width:1024px){
    
  
    .edit-guest-input{
      width:75%;
    }
  
    .guest-checkbox-container{
      font-size:1rem;
    }
  
    li{
      width:40%;
    }
  
    .remove-button{
      margin-left: 10px;
    }
  
  }

 
  
  /*
  ===================================================
                  MOBILE and Small Tablet
  ===================================================
  */
  
  @media(max-width:767px){
    .invite-guest-input{
     width:75%
    }
  
   .add-guest-button{
     margin-top: 2%;
   }
  
    /* 
    =========================
          guest filter
    =========================
    */

    .filter-checkbox-container{
      margin-top: 4%;
    }

    /*
    ========================
        Guest li section
    ========================
    */
    .guest-checkbox-container{
      margin-top: 15px;
      font-size: 1.2rem
    }
  
    .pending-guest-li{
      margin-top: 5%;
      float:left;
    }
  
    li{
      font-size: 1.5rem;
      margin: 3% 0 0 3%;
      width:40%;
      height:100%;
      padding-bottom: 3%;
    }
  
  
   /*
  =========================
        guest li buttons
  =========================
  */
  
   .edit-button, 
   .remove-button{
    margin-top: 5%;
   }
  
    .edit-button{
      padding-left: 14%;
      padding-right: 14%;
    }
  
    .remove-button{
      margin-left: 2%;
    }
  
    .edit-guest-input{
      width: 80%;
      border-radius: 3px;
    }
  }

  @media(max-width:767px) and (min-width:511px){
    .remove-button{
      margin-left: 2%;
    }

    .remove-button{
      padding-left: 8%;
      padding-right: 8%
    }
  }

  @media(max-width:375px){
    .edit-button{
      padding-left: 16%;
      padding-right: 16%;
    }
  }