body{
  font-family: 'quicksand', Georgia, 'Times New Roman', Times, serif
}

@font-face{
  font-family: 'quicksand';
  src: url(./fonts/quicksand/Quicksand-Regular.otf) format('opentype');
}

h1 {
  font-family: 'quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100px;
  text-align: center;
  color: white
}


/*
============================
        HEADER
==========================
*/

.header-div{
  background:radial-gradient(circle at top right, red, blue, red);
  padding:2%;
  padding-bottom: 7%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px inset white,
              -3px -3px 10px 1px inset white
}

/*
===============================
      INTRO MESSAGE
==============================
*/

.intro-message{
  font-family: 'quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  margin-top: 20px;
  background: blue;
  box-shadow: 3px 3px 10px 1px inset white,
              -3px -3px 10px 1px inset white;
  color:white;
  border-radius: 10px;
  padding:35px;
  overflow-wrap: break-word;
}


/*
==============================
        LI ELEMENTS
==============================
*/


li{
  font-family: 'quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: grey;
  box-shadow: 10px 10px 10px black;
  width: 20%;
  height: 126px;
  text-align: center;
  list-style: none;
  background: blue;
  color: white;
  float: left;
  margin-top: 30px;
  margin-left: 2rem;
}





/*
========================
      Class selectors
========================
*/


.add-guest-container{
  border-radius: 10px;
  margin-top: -120px;
  margin-right: 200px;
  margin-left: 30px;
}
/*
=======================================
      AddGuest input element
======================================
*/


.invite-guest-input {
  font-family: 'quicksand';
  background-color: white;
  position: relative;
  border-style: solid;
  border-width: .5px;
  border-radius: 5px;
  border-color: white;
  width: 25%;
  height: 30px;
  font-size: 20px;
}

.invite-guest-input:focus{
  box-shadow: 1px 1px 5px 1px inset blue
}



 /*--------------------------------------------------------*/

/*
=======================================
      checkboxes
===================================
*/
.filter-guests-checkbox{
  margin-left: 15px
}

.filter-checkbox-container{
  font-family: 'quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 25px;
  font-size: 1.2rem
}


/*-------------------------------------------------------------------------*/
/*
=========================================
        Buttons 
=========================================
*/

.add-guest-button{
  font-family: 'quicksand';
   letter-spacing: 1px;
   background-color: rgb(0, 102, 255);
   opacity: .8;
   cursor:pointer;
   color: white;
   font-size: 1rem;
   font-weight:bolder;
   padding:10px 25px;
   text-decoration:none;
   text-shadow:0px 1px 0px #3d768a;
   border-radius: 10px; 
 }


.edit-button,
.remove-button{
  font-family: 'quicksand';
  letter-spacing: 1px;
  background-color: white;
  opacity: .9;
  cursor:pointer;
  color: black;
  font-size: 1rem;
  font-weight:bold;
  text-decoration:none;
  border-radius: 10px;
  padding:5px
}



@media(max-width:479px){
  .invite-guest-input{
    margin:0;
    margin-top:20px;
    margin-left:80px;
    width:100%
  }
  .guest-checkbox-container{
    margin-top: 15px;
    font-size: 1.2rem
  }

  .add-guest-button{
    margin-left:110px;
    margin-top:10px;
  }

  .pending-guest-li{
    margin-top: 20px;
    float:left;
  }

  li{
    font-family: 'quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    margin-top:20px;
    margin-left: 0px;
    margin-right: 25px;
    width:40%;
    height:100%;
    padding-bottom: 3%;
  }

 
 .edit-button, 
 .remove-button{
  margin-top: 15px
 }

  .edit-button{
    padding-left: 14%;
    padding-right: 14%;
  }

  .edit-guest-input{
    width: 80%;
    border-radius: 3px;
    font-family: 'quicksand'
  }
}